fastapi
uvicorn
sqlalchemy
pydub
requests
streamlit
openai
python-dotenv
audio-recorder-streamlit
google-auth
python-jose
passlib
google-auth-oauthlib
google-api-python-client
apscheduler
python-multipart
streamlit-cookies-controller
streamlit_js_eval 
